@model PI_projekt.ViewModels.BiljUpotrebaVM

<div>
    <h4>Upotreba biljke</h4>
    <p>
        <a class="gumbDodavanja" asp-action="PrikazFormeZaDodavanjeNoveUpotrebe" asp-route-id="@ViewBag.IDe">Dodaj novu</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Opis Upotrebe
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.UpotrebaBiljke) 
            { 
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Opis)
                    </td>
                    <td>
                        <a class="gumbEdit" asp-action="Uredi" asp-route-id="@item.BiljkaUpotrebaId">Uredi</a> |
                        <a class="gumbIzbrisati" asp-action="Izbrisi" asp-route-id="@item.BiljkaUpotrebaId">Izbriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
</div>
<div>
    <a class="povratak" asp-controller="KorisnikBiljke" asp-action="KorisnikBiljkaDetalji" asp-route-id="@ViewBag.id">Povratak</a>
</div>
