@model IEnumerable<PI_projekt.Models.Alat>

<p>
    <a class="gumbDodavanja" asp-action="formaZaDodavanjeNovogAlata">Dodaj novi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Količina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Količina)
    </td>
    <td>
        <a class="gumbEdit" asp-action="FormaZaAlatUpdate" asp-route-id="@item.AlatId">Uredi</a>
        <a class="gumbIzbrisati" asp-action="IzbrisiAlat" asp-route-id="@item.AlatId">Izbriši</a>
    </td>
</tr>}
    </tbody>
</table>
